@@ -0,0 +1,831 @@
@media screen and (min-width: 1025px) {
    html, body {
    height: 1600px;
    width: 1260px;
    }

    body {
        margin: 10px;
        padding: 0px;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 12pt;
        font-weight: 400;
        color: rgba(0,0,0,.8);
    }

    h1, h2, h3 {
        margin-left: 8px;
        padding: 0;
        text-transform: uppercase;
        font-weight: 300;
        color: #2D2D2D;
    }

    h2 {
        font-size: 2.50em;
    }

    p, ol, ul {
        margin-left: 8px;
        margin-top: 0px;
    }

    p {
        line-height: 180%;
    }

    a:hover {
        text-decoration: none;
    }

    a img {
        border: none;
    }

    #BackToTopBtn{
        position: fixed;
        bottom: 0px; /* 小按钮到浏览器底边的距离 */
        right: 50px; /* 小按钮到浏览器右边框的距离 */
        color: #2D2D2D; /* 小按钮中文字的颜色 */
        z-index: 1000;
        background: #cfcfcf; /* 小按钮底色 */
    }

    #wrapper {
        background: #FFF;
        margin: 0px 20px;
    }

    .container {
        width: 1260px;
        margin: 0px ;
    }

    #header {
        position: relative;
        overflow: hidden;
        height: 600px;
    }

    #social
    {
        position: absolute;
        top: 4em;
        right: 100px;
    }

    #logo {
        position: absolute;
        top: 3em;
        left: 0;
    }

    #logo h1, #logo p {
        margin: 0px 0px 0px 40px;
        padding: 0;
    }

    #logo h1 {
        letter-spacing: -1px;
        text-transform: lowercase;
        font-size: 3.5em;
    }


    #menu {
        overflow: hidden;
        background: #433038;
    }

    #menu ul {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px;
        list-style: none;
        line-height: normal;
    }

    #menu li {
        display: inline-block;
    }

    #menu a {
        display: block;
        padding: 0px 40px 0px 40px;
        line-height: 70px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-size: 16px;
        font-weight: 200;
        color: rgba(255,255,255,0.5);
        border: none;
    }

    #menu a:hover, #menu .current_page_item a {
        text-decoration: none;
        color: rgba(255,255,255,0.8);
    }

    #page {
        overflow: hidden;
        padding: 10px 0px;
    }

    #content {
        float: left;
        width: 800px;
        padding-right: 50px;
        padding-left: 20px;
        border-right: 1px solid #E6E7DC;
    }

    #content .post-title
    {
        margin-bottom: 2em;
        margin-top: 2em;
    }

    #content .post
    {
        margin-bottom: 4em;
        padding-bottom: 4em;
        border-bottom: 1px solid #E6E7DC;
    }

    #sidebar1 {
        float: right;
        width: 250px;
        margin-right: 180px;
    }

    #sidebar1 #box1 {
        margin-bottom: 4em;
    }

    #footer {
        overflow: hidden;
        padding: 50px 0px 30px 0px;
    }

    #footer p {
        text-align: center;
        color: rgba(255,255,255,0.2);
    }

    #footer a {
        color: rgba(255,255,255,0.3);
    }

    #carousel-example-generic {
        padding-left: 10px;
        margin-left:20px;
    }

    #list-wrapper
    {
        overflow: hidden;
        background: #FFF;
        width: 1220px;
        margin-left: 20px;
        padding: 20px 20px;
        border-top: 1px solid rgba(0,0,0,.05);
    }

    ul.links {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    ul.links li {
        padding: 25px 0px 15px 0px;
        border-top: 1px solid #E6E7DC;
    }

    ul.links .first {
        padding-top: 0px;
        border-top: none;
    }

    ul.links h3 {
        font-size: 1.10em;
    }

    ul.links h3 a {
        color: #101010;
        text-decoration: none;
    }

    ul.links a {
        text-decoration: none;
    }

    ul.links a:hover {
        text-decoration: underline;
    }

    #list .title
    {
        display: block;
        padding-bottom: 2em;
        color: rgba(0,0,0,0.7);
    }

    .column1,
    .column2,
    .column3,
    .column4
    {
        width: 282px;
        float: left;
        margin-right: 24px;
    }

    .button
    {
        display: inline-block;
        margin-top: 10px;
        margin-left: 10px;
        padding: 0em 1em;
        background: #A00044;
        letter-spacing: 0.10em;
        line-height: 3em;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1em;
        color: #FFF;
    }

    .button:hover
    {
        background-color: #000;
        color: #fff;
    }

    .button:focus
    {
        outline: none;
        color: #fff; 
    }

    ul.contact li
    {
        display: inline-block;
        padding: 0em 0.10em;
        font-size: 1em;
    }

    ul.contact li a
    {
        color: #2D2D2D;
    }

}

@media screen and (max-width: 1024px) {
    html, body {
    height: auto;
    width: auto;
    }

    body {
        margin: 0px;
        padding: 0px;
        background: #333 url(images/overlay.png) repeat;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 12pt;
        font-weight: 400;
        color: rgba(0,0,0,.8);
    }

    h1, h2, h3 {
        margin-left: 10px;
        padding: 0;
        text-transform: uppercase;
        font-weight: 200;
        color: #2D2D2D;
    }

    h2 {
        font-size: 1.50em;
    }

    p, ol, ul {
        margin-left: 10px;
        margin-top: 0px;
    }

    p {
        line-height: 180%;
    }

    a:hover {
        text-decoration: none;
    }

    a img {
        border: none;
    }

    #wrapper {
        background: #FFF;
        margin: 0px 16px;
    }

    .container {
        width: auto;
        margin: 0px auto;
    }

    .clearfix {
        clear: both;
    }

    #header-wrapper
    {
        background: url(images/bg_img2.png) no-repeat center center;

    }

    #header {
        position: relative;
        overflow: hidden;
        height: 500px;
    }

    #social
    {
        position: absolute;
        top: 4em;
        right: 60px;
    }

    #logo {
        position: absolute;
        top: 3em;
        left: 0;
    }

    #logo h1, #logo p {
        margin: 0px 0px 0px 30px;
        padding: 0;
    }

    #logo h1 {
        letter-spacing: -1px;
        text-transform: lowercase;
        font-size: 2.5em;
    }

    #menu {
        overflow: hidden;
        background: #433038;
    }

    #menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: normal;
    }

    #menu li {
        display: inline-block;
    }

    #menu a {
        display: block;
        padding: 0px 30px 0px 30px;
        line-height: 60px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-size: 14px;
        font-weight: 200;
        color: rgba(255,255,255,0.5);
        border: none;
    }

    #menu a:hover, #menu .current_page_item a {
        text-decoration: none;
        color: rgba(255,255,255,0.8);
    }

    #page {
        overflow: hidden;
        padding: 10px 0px;
    }

    #content {
        float: none;
        width: auto;
        padding-right: 50px;
        padding-left: 20px;
        border-right: 1px solid #E6E7DC;
    }

    #content .post-title
    {
        margin-bottom: 2em;
        margin-top: 2em;
    }

    #content .post
    {
        margin-bottom: 4em;
        padding-bottom: 4em;
        border-bottom: 1px solid #E6E7DC;
    }

    #sidebar1 {
        float: none;
        width: auto;
        margin-left: 10px;
    }

    #sidebar1 #box1 {
        margin-bottom: 4em;
    }

    #footer {
        overflow: hidden;
        padding: 50px 0px 30px 0px;
    }

    #footer p {
        text-align: center;
        color: rgba(255,255,255,0.2);
    }

    #footer a {
        color: rgba(255,255,255,0.3);
    }

    ul.links {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    ul.links li {
        padding: 25px 0px 15px 0px;
        border-top: 1px solid #E6E7DC;
    }

    ul.links .first {
        padding-top: 0px;
        border-top: none;
    }

    ul.links h3 {
        font-size: 0.80em;
    }

    ul.links h3 a {
        color: #101010;
    }

    ul.links a {
        text-decoration: none;
    }

    ul.links a:hover {
        text-decoration: underline;
    }

    #list-wrapper
    {
        overflow: hidden;
        padding: 20px 20px;
        background: rgba(0,0,0,.02);
        background-image: url(images/overlay.png);
        background-repeat: repeat;
        border-top: 1px solid rgba(0,0,0,.05);
    }

    #list .title
    {
        display: block;
        padding-bottom: 2em;
        color: rgba(0,0,0,0.7);
    }

    .column1,
    .column2,
    .column3,
    .column4
    {
        width: 80%;
        float: none;
        margin-right: 24px;
    }

    .button
    {
        display: inline-block;
        margin-top: 10px;
        margin-left: 10px;
        padding: 0em 1em;
        background: #A00044;
        letter-spacing: 0.10em;
        line-height: 3em;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1em;
        color: #FFF;
    }

    ul.contact li
    {
        display: inline-block;
        padding: 0em 0.10em;
        font-size: 1em;
    }

    ul.contact li a
    {
        color: #2D2D2D;
    }

    #BackToTopBtn{
        position: fixed;
        margin-left: 100px;
        margin-top: 20%;
    }

}

@media screen and (max-width: 768px) {
    html, body {
    height: auto;
    width: auto;
    }

    body {
        margin: 0px;
        padding: 0px;
        background: #333 url(images/overlay.png) repeat;
        font-family: 'Source Sans Pro', sans-serif;
        font-size: 12pt;
        font-weight: 400;
        color: rgba(0,0,0,.8);
    }

    h1, h2, h3 {
        margin-left: 5px;
        padding: 0;
        text-transform: uppercase;
        font-weight: 200;
        color: #2D2D2D;
    }

    h2 {
        font-size: 1.50em;
    }

    p, ol, ul {
        margin-left: 5px;
        margin-top: 0px;
    }

    p {
        line-height: 120%;
    }

    a:hover {
        text-decoration: none;
    }

    a img {
        border: none;
    }

    #wrapper {
        background: #FFF;
        margin: 0px 5px;
    }

    .container {
        width: auto;
        margin: 0px auto;
    }

    .clearfix {
        clear: both;
    }

    #header-wrapper
    {
        background: url(images/bg_img2.png) no-repeat center center;

    }

    #header {
        position: relative;
        overflow: hidden;
        height: 300px;
    }

    #social
    {
        position: absolute;
        top: 250px;
        left: -20px;
    }

    #logo {
        position: absolute;
        top: 3em;
        left: 0;
    }

    #logo h1, #logo p {
        margin: 0px 0px 0px 30px;
        padding: 0;
    }

    #logo h1 {
        letter-spacing: -1px;
        text-transform: lowercase;
        font-size: 2.5em;
    }

    #menu {
        overflow: hidden;
        background: #433038;
    }

    #menu ul {
        margin: 0;
        padding: 0;
        list-style: none;
        line-height: normal;
    }

    #menu li {
        display: inline-block;
    }

    #menu a {
        display: block;
        padding: 0px 30px 0px 30px;
        line-height: 60px;
        text-decoration: none;
        text-transform: uppercase;
        text-align: center;
        font-size: 14px;
        font-weight: 200;
        color: rgba(255,255,255,0.5);
        border: none;
    }

    #menu a:hover, #menu .current_page_item a {
        text-decoration: none;
        color: rgba(255,255,255,0.8);
    }

    #page {
        overflow: hidden;
        padding: 10px 0px;
    }

    #content {
        float: none;
        width: auto;
        padding-right: 50px;
        padding-left: 20px;
        border-right: 1px solid #E6E7DC;
    }

    #content .post-title
    {
        margin-bottom: 2em;
        margin-top: 2em;
    }

    #content .post
    {
        margin-bottom: 4em;
        padding-bottom: 4em;
        border-bottom: 1px solid #E6E7DC;
    }

    #sidebar1 {
        float: none;
        width: auto;
        margin-left: 10px;
    }

    #sidebar1 #box1 {
        margin-bottom: 4em;
    }

    #footer {
        overflow: hidden;
        padding: 50px 0px 30px 0px;
    }

    #footer p {
        text-align: center;
        color: rgba(255,255,255,0.2);
    }

    #footer a {
        color: rgba(255,255,255,0.3);
    }

    ul.links {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }

    ul.links li {
        padding: 25px 0px 15px 0px;
        border-top: 1px solid #E6E7DC;
    }

    ul.links .first {
        padding-top: 0px;
        border-top: none;
    }

    ul.links h3 {
        font-size: 0.80em;
    }

    ul.links h3 a {
        color: #101010;
    }

    ul.links a {
        text-decoration: none;
    }

    ul.links a:hover {
        text-decoration: underline;
    }

    #list-wrapper
    {
        overflow: hidden;
        padding: 20px 20px;
        background: rgba(0,0,0,.02);
        background-image: url(images/overlay.png);
        background-repeat: repeat;
        border-top: 1px solid rgba(0,0,0,.05);
    }

    #list .title
    {
        display: block;
        padding-bottom: 2em;
        color: rgba(0,0,0,0.7);
    }

    .column1,
    .column2,
    .column3,
    .column4
    {
        width: 80%;
        float: none;
        margin-right: 24px;
    }

    .button
    {
        display: inline-block;
        margin-top: 10px;
        margin-left: 10px;
        padding: 0em 1em;
        background: #A00044;
        letter-spacing: 0.10em;
        line-height: 3em;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1em;
        color: #FFF;
    }

    ul.contact li
    {
        display: inline-block;
        padding: 0em 0.10em;
        font-size: 1em;
    }

    ul.contact li a
    {
        color: #2D2D2D;
    }

    #BackToTopBtn{
        position: fixed;
        margin-left: 80%;
    }

} 
